

.sr-hidden {
	display: none;
}

.primaryNavigation__navigationItem {
	padding: 0 2em;
}

.primaryNavigation__navigationItem:first-of-type {
	padding-left: 0;
}

.primaryNavigation__navigationItem:last-of-type {
	padding-right: 0;
}




.siteBrand {
	font-size: 200%;
	color: var(--color-primaryBrand);
	text-decoration: none;
	font-family: var(--font-secondaryFamily);
	font-weight: 700;
}

.siteBrand:hover {
	text-decoration: underline;
}

i[class^="icon-"] {
	font-size: 200%;
}